.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  display: block;
  margin-top: 1rem;
  margin-bottom: 10px;
}

.address {
  margin-top: 10px;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 260px;
  padding: 5px 0px 7px 0px;
  background-color: #f6f6f6;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
  border: 1px solid grey;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 250px;
  overflow-y: auto;
  top: 0;
  left: 0;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
}

.dropdown-content>* {
  padding: 5px 0;
}

.dropdown-content>*:hover {
  background-color: lightblue;
}

.blocker {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 1;
  padding: 20px;
  box-sizing: border-box;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.75);
  text-align: center;
}

.modal {
  position: relative;
  z-index: 2;
  max-width: 500px;
  box-sizing: border-box;
  width: 90%;
  margin: auto;
  vertical-align: middle;
  background: #fff;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  text-align: left;
  top: 50%;
  transform: translate(0, -50%);
}

.modal .close-modal {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  display: block;
  width: 30px;
  height: 30px;
  background-size: contain;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAAXNSR0IArs4c6QAAA3hJREFUaAXlm8+K00Acx7MiCIJH/yw+gA9g25O49SL4AO3Bp1jw5NvktC+wF88qevK4BU97EmzxUBCEolK/n5gp3W6TTJPfpNPNF37MNsl85/vN/DaTmU6PknC4K+pniqeKJ3k8UnkvDxXJzzy+q/yaxxeVHxW/FNHjgRSeKt4rFoplzaAuHHDBGR2eS9G54reirsmienDCTRt7xwsp+KAoEmt9nLaGitZxrBbPFNaGfPloGw2t4JVamSt8xYW6Dg1oCYo3Yv+rCGViV160oMkcd8SYKnYV1Nb1aEOjCe6L5ZOiLfF120EjWhuBu3YIZt1NQmujnk5F4MgOpURzLfAwOBSTmzp3fpDxuI/pabxpqOoz2r2HLAb0GMbZKlNV5/Hg9XJypguryA7lPF5KMdTZQzHjqxNPhWhzIuAruOl1eNqKEx1tSh5rfbxdw7mOxCq4qS68ZTjKS1YVvilu559vWvFHhh4rZrdyZ69Vmpgdj8fJbDZLJpNJ0uv1cnr/gjrUhQMuI+ANjyuwftQ0bbL6Erp0mM/ny8Fg4M3LtdRxgMtKl3jwmIHVxYXChFy94/Rmpa/pTbNUhstKV+4Rr8lLQ9KlUvJKLyG8yvQ2s9SBy1Jb7jV5a0yapfF6apaZLjLLcWtd4sNrmJUMHyM+1xibTjH82Zh01TNlhsrOhdKTe00uAzZQmN6+KW+sDa/JD2PSVQ873m29yf+1Q9VDzfEYlHi1G5LKBBWZbtEsHbFwb1oYDwr1ZiF/2bnCSg1OBE/pfr9/bWx26UxJL3ONPISOLKUvQza0LZUxSKyjpdTGa/vDEr25rddbMM0Q3O6Lx3rqFvU+x6UrRKQY7tyrZecmD9FODy8uLizTmilwNj0kraNcAJhOp5aGVwsAGD5VmJBrWWbJSgWT9zrzWepQF47RaGSiKfeGx6Szi3gzmX/HHbihwBser4B9UJYpFBNX4R6vTn3VQnez0SymnrHQMsRYGTr1dSk34ljRqS/EMd2pLQ8YBp3a1PLfcqCpo8gtHkZFHKkTX6fs3MY0blKnth66rKCnU0VRGu37ONrQaA4eZDFtWAu2fXj9zjFkxTBOo8F7t926gTp/83Kyzzcy2kZD6xiqxTYnHLRFm3vHiRSwNSjkz3hoIzo8lCKWUlg/YtGs7tObunDAZfpDLbfEI15zsEIY3U/x/gHHc/G1zltnAgAAAABJRU5ErkJggg==);
}

.save-btn {
  margin: 15px;
}

#employee-list {
  width: auto;
  border-spacing: 0;
  border: 1px solid black;
  border-left: none;
  border-right: none;
  width: 60%;
}

thead {
  cursor: pointer;
}

thead {
  border: 1px solid black;
  height: 40px;
}

tbody>tr:nth-child(even) {
  background-color: #fafafa;
}

tbody>tr:nth-child(odd) {
  background-color: #f6f6f6;
}

td {
  padding: 10px 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 10px;
}

header>span {
  gap: 10px;
  display: flex;
  align-items: center;
}

header>span>.dropdown {
  width: 50px;
}